name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install compiler
        run: sudo apt-get update && sudo apt-get install -y build-essential

      - name: Clean build folder
        run: make clean || true

      - name: Build project
        run: make

      - name: Run binary
        run: ./radishdb || true
